<!-- Main page that simply displays league info  -->

<img src="https://premierleague-static-files.s3.amazonaws.com/premierleague/photo/2016/09/07/c5aeba08-c10a-4865-8983-d29e4ffbb53f/Premier_League_Trophies_0059.jpg" width=1000/>
<div id ="bg">
<img src="http://cdn.pulselive.com/test/client/pl/test/i/elements/premier-league-logo-header-full.png" width=300/>

<p id="text">
    The 2016/17 season marks the 25th of the Premier League after its formation in 1992.

After numerous discussions with football authorities, players and television broadcasters, the First Division clubs resigned from the Football League in May 1992 and the Premier League was formed with the inaugural campaign starting on Saturday 15 August of that year.

Below, each of the 24 seasons has been charted with the story of how the titles were won and the players who starred. From 2011/12's incredible finale, to Arsenal's "Invincibles", as well as each of Manchester United's record 13 triumphs, find out more about the rich history of the Premier League.
</p>
<img src="https://cdn2.digitalartsonline.co.uk/cmsdata/slideshow/3635135/slidewhateve.png" width=1000/>

</div>
{{outlet}}
